<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trombinoclock</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img id="logo" src="https://oclock.io/images/common/logo-short-cream.svg?v=66184eb7" alt="logo">

        <nav>
            <a href="/promos">Liste des promos</a>
            <a href="#">Liste des étudiants</a>
            <a href="/login">Se connecter</a>
        </nav>
    </header>