<%- include('partials/header') %>
<div class="container">
    <form action="/login" method="post">

        <div class="form-group">
            <label for="username">Pseudo </label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div class="form-group">
            <input type="submit" value="Ajouter" class="button button-green">
        </div>
    </form>
</div>

<%- include('partials/footer') %>